CalcWebServiceClientApp/CalcWebServiceClientApp/Service References/StudentWebService/StudentWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetStudentById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStudentByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStudentByIdResult" type="tns:Student" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Student">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalMarks" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDateTime">
        <s:complexType />
      </s:element>
      <s:element name="GetDateTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDateTimeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStudentByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetStudentById" />
  </wsdl:message>
  <wsdl:message name="GetStudentByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetStudentByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetDateTimeSoapIn">
    <wsdl:part name="parameters" element="tns:GetDateTime" />
  </wsdl:message>
  <wsdl:message name="GetDateTimeSoapOut">
    <wsdl:part name="parameters" element="tns:GetDateTimeResponse" />
  </wsdl:message>
  <wsdl:portType name="StudentWebServiceSoap">
    <wsdl:operation name="GetStudentById">
      <wsdl:input message="tns:GetStudentByIdSoapIn" />
      <wsdl:output message="tns:GetStudentByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDateTime">
      <wsdl:input message="tns:GetDateTimeSoapIn" />
      <wsdl:output message="tns:GetDateTimeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StudentWebServiceSoap" type="tns:StudentWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudentById">
      <soap:operation soapAction="http://tempuri.org/GetStudentById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDateTime">
      <soap:operation soapAction="http://tempuri.org/GetDateTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StudentWebServiceSoap12" type="tns:StudentWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudentById">
      <soap12:operation soapAction="http://tempuri.org/GetStudentById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDateTime">
      <soap12:operation soapAction="http://tempuri.org/GetDateTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentWebService">
    <wsdl:port name="StudentWebServiceSoap" binding="tns:StudentWebServiceSoap">
      <soap:address location="http://localhost:56771/StudentWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="StudentWebServiceSoap12" binding="tns:StudentWebServiceSoap12">
      <soap12:address location="http://localhost:56771/StudentWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>