ProductsApp/ProductsApp/Customers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <!-- XML Schema Generated from XML Document on Tue Sep 29 2015 12:05:26 GMT+0530 (India Standard Time) -->
  <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
  <xs:element name="Customers">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Customer" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Id" type="xs:int"></xs:element>
              <xs:element name="Name" type="xs:string"></xs:element>
              <xs:element name="Gender" type="xs:string"></xs:element>
              <xs:element name="DateOfBirth" type="xs:dateTime"></xs:element>
              <xs:element name="EmployeeType" type="xs:int"></xs:element>
              
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
